<a href="https://colab.research.google.com/github/byu-cce270/content/blob/main/docs/old_unit2_copy/01_introducing_lists/lists_in_class_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Exercise: Introduction to Lists and Common List Methods

Follow the instructions below to experiment with lists.

## Part 1 - Combining lists

In [ ]:
# Run the following cell to create 2 lists.

mylist = ['Amy', 'Anne', 'Barbara', 'Bob', 'Clare', 'Clark','Jane', 'John', 'Jenny', 'Jerry', 'Joe']
mySecondlist = ['Sam', 'Samantha','Tristan', 'Tom', 'Zach']

In [ ]:
# Add the second list to the first list using the extend() function and print the result.

In [ ]:
# Now combine the lists using the append() function and print the result. Do you notice a difference?

## Part 2 - Adding and removing items

In [ ]:
# Run this cell to create a list of foods.

foodList = ['beef', 'steak', 'eggs', 'pork','bacon','ham','ribs','fish']

In [ ]:
# Add 5 foods to the lsit and print them out

In [ ]:
# insert another food to the middle of the list somewhere and print your new list

In [ ]:
#remove the 6th item in your list and print out your new list and the removed item

In [ ]:
#remove beef from your list and print out your new list

In [ ]:
#sort the list and print the sorted list out

In [ ]:
#reverse the list and print it out

In [ ]:
#count your list and print out the count of items

## Part 3 - Lists within lists

In [ ]:
# Run this cell to create a compound list. Look at the structure.

another_list = [['Superman','Batman','Wonder Woman'],'Clark Kent','Bruce Wayne',['George','Sally']]

In [ ]:
# write code to access the first list within another_list

In [ ]:
# write code to access Batman

In [ ]:
# write code to access Clark Kent

In [ ]:
# write code to access George