<a href="https://colab.research.google.com/github/byu-cce270/content/blob/main/docs/unit2/00_intro_python_variables_lists/(Starter_Workbook)_Class_Introduction_to_Python_Variables_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1 - Basic Python

Follow the instructions below to experiment with variables.

## Exercise 1.1 - Your first code

In the following code block, write a statement that prints "Hello world"!

## Exercise 1.2 - Variable basic

Create 3 bad (illegal) variable names. Add comments to explain why they don't work.

Create 3 good (legal) variable names. Print the values of your good variables

Write code to demonstrate that variable names are case sensitive. Hint: use names "A" and "a". Print the variable values.

## Exercise 1.3 - Variable types

Show how strings can be used with either double or single quotes.

Create an integer variable and print its value. Then add to it, and print its value again.

Create a float variable and print its value.

Create variables of at least two different types and then use the type function to print their types.

# Exercise 2 - List

Follow the instructions below to experiment with lists.

## Exercise 2.1 - Combining list

In [ ]:
# Run the following cell to create the 2 list

mylist = ['Amy', 'Anne', 'Barbara', 'Bob', 'Clare', 'Clark','Jane', 'John', 'Jenny', 'Jerry', 'Joe']
mySecondlist = ['Sam', 'Samantha','Tristan', 'Tom', 'Zach']

Add the second list to the first list using the extend() function and print the result.

Now combine the lists using the append() function and print the result. Do you notice a difference?

# Exercise 2.2 - Adding and removing items

In [ ]:
# Run this cell to create a list of foods.

foodList = ['beef', 'steak', 'eggs', 'pork','bacon','ham','ribs','fish']

Add 5 foods to the list and print them out

Insert another food to the middle of the list somewhere and print your new list

Remove the 6th item in your list and print out your new list and the removed item

Remove beef from your list and print out your new list

Sort the list and print the sorted list out

Reverse the list and print it out

Count your list and print out the count of items

# Exercise 2.3 - List within lists

In [ ]:
# Run this cell to create a compound list. Look at the structure.

another_list = [['Superman','Batman','Wonder Woman'],'Clark Kent','Bruce Wayne',['George','Sally']]

Write code to access the first list within another_list

Write code to access Batman

Write code to access Clark Kent

Write code to access George