<a href="https://colab.research.google.com/github/byu-cce270/content/blob/main/docs/unit2/01_for_loops_into_functions/(Starter_Workbook)_Class_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple For Loops

In [ ]:
# Run the following code to build and print the contents of a list

animals = ['zebra', 'porcupine', 'elephant', 'giraffe']

for animal in animals:
  print(f"A {animal.title()} would make a wonderful pet.")

In [ ]:
# In this code block, write your own list of animal names and create a for loop to print all of them.

# Nested For Loops

In [ ]:
# Run this code to combine adjectives and nouns using a nested loop

adjs = ["large", "happy", "fat", "quiet"]
animals = ["zebra", "porcupine", "elephant", "giraffe"]

for adj in adjs:
  for animal in animals:
    print(adj, animal)

In [ ]:
# Create your own nested for loop using the lists below

adj = ["sweet", "ripe", "delicious"]
fruits = ["pear", "mango", "kiwi"]

# Creating a list within a loop

In [ ]:
# Run the following code

mylist = ['Amy', 'Anne', 'Barbara', 'Bob', 'Clare', 'Clark', 'Jane', 'John', 'Jenny', 'Jerry', 'Joe']

myNewList = []

for i in mylist:
  newItem = i + ' Smith'
  myNewList.append(newItem)

print(myNewList)

In [ ]:
# In this code block, write your own for loop using mylist
# Also, create a list that tells everyone Hello "Name" for each name

# Lists of Lists in For loops
When you have a list of lists we learned how to access the various elements.

For example if you have a list of fruits


```
# This is formatted as code
fruits = [["banana", "yellow"], ["apple","red"], ["grape","blue"]]
```
We can acess the color of an apple as


```
# This is formatted as code
fruits[1][1]
```
Or the second element of the second list

We can also take elements from the list into a new variable.


```
# This is formatted as code
fruit, color = fruits[1]
```
This takes the second element in the list and sets the variable fruit="apple" and the variable color="red"


We can do something simliar in loops, but there is a neat shortcut we will show you.

Try the below activity, then we will show you the trick

In [ ]:
# Working with "lists of lists" is similar - you just need to remember each item in the list is a list

names = [
    ["Gus", "Williams"],
    ["Norm", "Jones"],
    ["Brandan", "Williamson"]
    ]

# Note: you could put the above all on one line, but it is more readable to use multiple lines
# python realizes that you haven't completed the code, and allows you to have more than one line

first, last = names[0]
print(first, last)

In [ ]:
# Print the first list from "names"

In [ ]:
# Write a print statement for the first list in names that says:
# my first name is [fill in the name here] and my last name is [fill in the name here]

In [ ]:
# Now write a loop that goes through the list and prints the statement from above for each name

In [ ]:
# There is another way to work with a list of lists in loops using multiple variables
# fname, lname vs. name[0] name[1]

# Slicing

Now we will experiment with using slicing to access a portion of a list.

In [ ]:
# Run this cell to create a new list of cities to visit
cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio']

In [ ]:
# Use slicing to print the first 3 cities in the list (note how the index works)

In [ ]:
# Use slicing to print the 3rd and 4th cities in the list

In [ ]:
# Use slicing to print the cities from the 4th city to the end of the list.

In [ ]:
# Use a negative slice index to print the last two cities

In [ ]:
# Run this codes to create a new list.
cities2 = cities
print(cities)
print(cities2)

In [ ]:
# Now append 'Provo' to the original list and print both lists. Notice what happens

In [ ]:
# Now write a statement that makes a new list called cities3 which is a separate list using slicing.
# Modify the new list and print both lists.