<a href="https://colab.research.google.com/github/byu-cce270/content/blob/main/docs/unit3/03_continuing_pandas/(Starter_Notebook)_Class_Continuing_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas, Part 2 In-Class assignment

**Note on naming:**

You don't have to do it, but it is common to use varilables with an _df for pandas data frames. For example:

`date_df` for a data frame with dates.
`accidents_df` for a data frame with accidents, etc.

In [ ]:
# Import Libraries
import pandas as pd
from datetime import date
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Part 1 - Working with datestime values

In [ ]:
# create 10 years of  Pandas daily  data from using a data rannge
dates = []
date_rng = pd.date_range(start='1/1/2010', end='1/1/2020', freq='D')
date_df = pd.DataFrame(date_rng, columns=['date'])
date_df.head()

In [ ]:
# We don't need to do this here, but if your dates were strings, this is how you make them datetime objects
date_df['date'] = pd.to_datetime(date_df['date'])

# Make the date your index


# what happens if you don't have the inplace=True statement?

### Add some columns

In [ ]:
# Now add a columns for the Year, the Month, and the Day the dataframe

date_df['year'] = date_df.index.year
date_df['month'] = date_df.index.month
date_df['day'] = date_df.index.day
date_df

In [ ]:
# Now add some other columns

date_df['day_of_the_year'] = date_df.index.dayofyear
date_df['day_of_the_week'] = date_df.index.day_name()
date_df['month_name'] = date_df.index.month_name()
date_df

In [ ]:
# this works a little bit differently
date_df['week']=date_df.index.isocalendar().week
date_df

### Explore your data frame
    Print the top 5 lines
    Print the bottom 5 lines
    Print how many rows are in the data frame
    Print the name of the columns in the data frame
    Use the .describe() method

### Add some data to plot

We will use the numpy random number functions to generate data.

We will use the numpy sin  function to make it vary over the year.

In [ ]:
# add a column of uniform random data from 0 to 5 that has an annual frequency
date_df['uniform'] = np.random.uniform(0, 5, len(date_df))

# use the day_of_the_year column to generate a column from 1 to 2-pi radians
# for each year approximately - doesn't acknowlege leap year.
date_df['radians'] = date_df['day_of_the_year'] * (2 * np.pi / 365)
date_df['data1'] = (np.sin(date_df['radians'])+1)*10 +date_df['uniform']*2

# create another data column
#date_df['data2'] = date_df['data1'] + np.random.uniform(-1, 1, len(date_df))
date_df['data2'] = (np.cos(date_df['radians'])+1)*10 +date_df['uniform']*2

# drop the columns 'radians' and 'uniform' as we don't need them anymore
# We could have done this without adding them as columns, but this is
# easier to follow
date_df.drop(['radians', 'uniform'], axis=1, inplace=True)

date_df.head()

In [ ]:
# Make a line plot with both the data1 and data2 columns

In [ ]:
# Now use the builtin pandas plot routine to plot all the numerical data
# in the dataframe

In [ ]:

# drop the  year column from the plot because of the scale it was hard
# to see in the data in the other columns
date_df.drop('year', axis=1).plot()
plt.show()

# since we didn't use 'inplace=True' it only drops the column during the plot

### Plot Range

Create plots using only the data from 2014 through 2017.

Use both matplotlib and the builtin pandas .plot() method.

In [ ]:
# Enter your code hear to plot only 2014 through 2017
# Use matplotlib

In [ ]:
# use the dataframe .plot() method

### Grouping

We can now look at means, medians, counts, std dev, etc for different time groups.

In [ ]:
# Use the .groupby method to find the avereage of the 'data1' column in each month, include the month number and month_name in result

In [ ]:
# Plot the monthly averages using a horizontal bar chart

In [ ]:
# Notice that the months are in an odd order. Now do aggregate by both month (number)
# and month name so we can plot in right order

In [ ]:
# Create a bar chart using the pandas .plot() method.

In [ ]:
# Note that we have odd labels now. This is because groupby returns a series. Since we aggregated on two keys,
# the results is a "multindex". Now we have the order we want, we can drop the month number using the
# .droplevel() method.

monthly_avg2 = monthly_avg2.droplevel(0)
monthly_avg2

In [ ]:
# Now plot again, but invert the y axis using plt.gca().invert_yaxis(). Otherwise December will be on top.

In [ ]:
# do the same thing for the weeks of the year for both data1 and data2
# find the median values and plot using line plots, both on the same plot.

In [ ]:
# For each year, count the number of data in the year
# do the same for each month
# why are they not all the same?

### Now look at days

Make a plot showing the median and average values by day-of-the week (i.e., Monday, Tuesday, Wednesday, etc.)

In [ ]:
# Now write code to look at days-of-the-week data. Plot both on a line plot.

## Part 2 - Accident Data

Now we will start to look at the accident data in the Excel
Spreadsheet

In [ ]:
# read the data into a pandas data frame called accidents_df

In [ ]:
# Change the data type of the Date column to datetime and make it the index

### Explore the data

How many unique values are there for:
- Location
- Age Group
- Plant
- Report Type
- Shift
- Department


Pick any three and print the information

In [ ]:
# HINT: Use the .nununique() method and pass a column name

In [ ]:
# Call the nununique() method without any arguments

### Answer the following questions

* Which Gender has the most accidents?
 * how many?
* Which plant has the most accidents?
 * how many?

Make bar charts (3 different ones) that show:

   * accident count per age group
   * accident count per plant
   * accident count per shift

### Now some more involved analysis and graphs:

* Print a table of the days lost for each plant
 * total for each plant with
    * sub-catatories of Gender
 * Make a bar chart

* Make a pie chart of the number of different types of accidents
* Make a pie chart of the accidents per age group
* Make a bar chart of the cost of the different types of accidents

In [ ]:
# Now use the .unstack method to clean up the result

In [ ]:
# see if you can make bar-charts with either side-by-side bars for the genders
# or stacked bars for the genders. Each plant either has two bars
# (male, female) or a single bar with two segments

In [ ]:
# Make a pie chart of the number of different types of incidents

In [ ]:
# Find and plot the costs of accidents by incident type

### Analyze by days of the week

Make a bar chart showing
* which day of the week has the most accidents
* accident costs for each day of the week

Do the same for the months.

## Do some analysis on your own

Look at the table and see what questions you could answer

* Make some graphs.

* See if you can do more than one level of sub-catagory

In [ ]:
# Enter your code here
# Accidents by day-of-the-week


# Accidents by month

In [ ]:
# Your analysis
# do some multi-level groups