<a href="https://colab.research.google.com/github/byu-cce270/content/blob/main/docs/unit3/03_continuing_pandas/(Starter_Notebook)_Pre_Continuing_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Concatenate the original employees DataFrame with the new employees.
2. Merge the combined DataFrame with the departments DataFrame on 'DepartmentID'.
3. Group the merged DataFrame by 'DepartmentID' and calculate the average salary.
4. Display your results.

In [1]:
import pandas as pd

# Initial Employees DataFrame
employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'DepartmentID': [101, 102, 101, 103, 102],
    'Salary': [50000, 60000, 55000, 70000, 62000]
})

# Initial Departments DataFrame
departments = pd.DataFrame({
    'DepartmentID': [101, 102, 103],
    'DepartmentName': ['HR', 'IT', 'Marketing']
})

# New Employees DataFrame to concatenate
new_employees = pd.DataFrame({
    'EmployeeID': [6, 7],
    'Name': ['Frank', 'Grace'],
    'DepartmentID': [104, 101],
    'Salary': [75000, 53000]
})